
/*Link to top*/

.triangle{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--c1);
    position: absolute;
    bottom: 2px;
    transition: border-bottom-color 300ms, bottom 300ms;
}

.figura p{
    background: var(--c7);
    visibility: hidden;
    position: absolute;
    left: 30px;
    bottom: -15px;
    width: auto;
    background-clip: content-box;
    border:1px solid var(--c6);
    border-radius:10px;
}

.figura{
    display: flex;
    height: 13px;
    opacity: 0.5;
    border: 2px solid var(--c2);
    border-bottom: solid transparent;
    border-top: solid transparent;
    border-radius: 40px;
    width: 20px;
    position: fixed;
    bottom: 0;
    background: var(--c7);

}

.figura:hover{
    opacity: 1;
}

.figura:hover p{
    visibility: visible;
}

.figura .triangle:hover{
    border-bottom-color: var(--c6);
    bottom:4px;
}

/*end of link to top*/