

/*main*/


main{
    text-align: left;
}

.table{
    overflow-y: scroll;
}

/*style for main*/

#Sales {grid-area: sales;}
#warning {grid-area: warning;}
#Most_popular {grid-area: popular;}
#New_games {grid-area: new;}
.banner {grid-area: banner}
.table {grid-area: table}
.info_explorator {grid-area: date_cont}
.info_service {grid-area: info}
.friends {grid-area: friend}


main{
    display: grid;
    grid-template-areas:
    'sales sales'
    'table new'
    'popular friend'
    'info date_cont'
    'warning warning';
    padding: 10px;
    grid-gap: 10px;
    overflow: hidden;
}


/*end of style for main*/


/*style for sales*/

#item5{
    border: hidden;
    text-align: right;
}

#section5{
    display: flex;
    float: right;
    flex-shrink: 1;
    flex-grow: 1;
}

#item5 iframe{
    border: solid var(--c2);
    width: auto;
}

#item5 a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    color: var(--c4);
    transition: background-color 1s;
    transition-timing-function: ease;
    border-top: 6px solid var(--c2);
    border-bottom:6px solid transparent;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    background-clip: padding-box;
    background-color: var(--c2);
}

#item5 a:hover{
    background-color: var(--c1);
    color: var(--c4);
}

h2 {grid-area: header;}
#item1 {grid-area: menu;}
#item2 {grid-area: right;}
#item3 {grid-area: footer;}
#item5 {grid-area: iframe;}

#Sales{
    display: grid;
    grid-template-areas:
    'header header header'
    'menu right footer iframe';
    padding: 10px;
    grid-gap: 10px;
    overflow: hidden;
}


/*end of style for sales*/
