#open_menu {
  display: none;
}

#navigation {
  position: fixed;
  width: 100%;
  height: auto;
  background: var(--c2);
}

#first_menu {
  overflow: hidden;
  width: 100%;
  background: var(--c2);
  height: auto;
}
#first_menu a {
  float: left;
  font-size: 16px;
  color: var(--c4);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

.menu1 {
  float: left;
  overflow: hidden;
  background-color: var(--c2);
  height: 5rem;
  padding: 0;
}
.menu1 .subnavbtn {
  display: flex;
  height: 4rem;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--c4);
  padding: 1rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnavbtn {
  display: inline-grid;
  grid-template-rows: 6rem;
  grid-template-columns: 10rem;
  transition: border 300ms, box-shadow 300ms;
}

.menu1:hover .subnavbtn {
  box-shadow: inset 0 0 1rem var(--c6);
}

@keyframes button_animation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.subnav-content {
  display: none;
  position: absolute;
  background-color: var(--c2);
  width: auto;
  z-index: 1;
  animation: button_animation 900ms ease-in-out;
  transform-origin: top;
}
.subnav-content a {
  float: right;
  color: var(--c4);
  text-decoration: none;
  display: inline-grid;
  grid-template-rows: 2rem;
  grid-template-columns: 9rem;
  animation: button_animation 900ms ease-in-out;
  transform-origin: top;
}

#first_menu_arrow {
  width: 100%;
  top: 14%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: left 900ms, opacity 900ms;
  text-align: left;
}

#second_menu_arrow {
  width: 100%;
  top: 43%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: left 900ms, opacity 900ms;
  text-align: left;
}

#third_menu_arrow {
  width: 100%;
  top: 73%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: left 900ms, opacity 900ms;
  text-align: left;
}

.menu1:hover .subnav-content {
  display: grid;
}

.subnav-content a:hover {
  border: none;
}
.subnav-content #first_menu_arrow:hover {
  left: 25%;
  opacity: 1;
}
.subnav-content #second_menu_arrow:hover, .subnav-content #third_menu_arrow:hover {
  left: 15%;
  opacity: 1;
}

