
#open_menu{
    position: fixed;
    display: block;
    background: var(--c2);
}

#la_prima_del_listo{
    display: flex;
    flex-direction: column-reverse;
}


#navigation {
    width: 100%;
    background: var(--c2);
    height: auto;
    position: fixed;
    top:10%;
    overflow-y: scroll;
}

#brrrrr{
    display: none;
}

#navigation a {
    font-size: 14px;
    color: var(--c4);
    text-align: center;
    text-decoration: none;
}

.menu1 {
    background-color: var(--c2);
    height: 5rem;
    padding: 0;
}

.menu1 .subnavbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.menu1 #home_text{
    display: none;
}

.subnavbtn, .subnav-content a{
    width: 100%;
    transition: border 300ms, box-shadow 300ms;
    justify-content: center;
    align-content: center;
}

.menu1:hover .subnavbtn , .subnav-content a:hover{
    box-shadow:inset 0 0 25px var(--c6);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--c2);
    width: 100%;
    overflow-y: scroll;
}

.subnav-content a {
    text-align: center;
}


#first_menu_arrow{
    display: none;
}

#second_menu_arrow{
    display: none;
}

#third_menu_arrow{
    display: none;
}


.subnav-content a:hover {
    border: none;
}


.subnav-content #first_menu_arrow:hover,.subnav-content #second_menu_arrow:hover,.subnav-content #third_menu_arrow:hover{
    left:10%;
    opacity: 1;
}
