/*body*/

body{
    background-color: #21B7BF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #0B3D40;
}


h1, #warning{
    text-align: center;
}

#warning a{
    text-decoration: none;
    color: #167A80;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
}

.banner{
    border: 10px solid #0B3D40;
    position: fixed;
    width: 98%;
    bottom: 0;
    left:5px;
    text-align: center;
    background: #167A80;
}

/*menu*/

#first_menu {
    overflow: hidden;
    width: 100%;
    background: #0B3D40;
    height: auto;
}

#first_menu a {
    float: left;
    font-size: 16px;
    color: #23C4CC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu1 {
    float: left;
    overflow: hidden;
    padding: 14px 16px;
    background-color: #0B3D40;
    height: 60px;
}

.menu1 .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #23C4CC;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 1px;
}

.subnavbtn{
    display: inline-grid;
    grid-template-rows: 40px;
    grid-template-columns: 150px;
}

.menu1:hover .subnavbtn {
    border: 1px solid #23C4CC;
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: #0B3D40;
    width: auto;
    z-index: 1;
}

.subnav-content a {
    float: right;
    color: #23C4CC;
    text-decoration: none;
    display: inline-grid;
    grid-template-rows: 20px;
    grid-template-columns: 130px;
}

.subnav-content a:hover {
    border: 1px solid #23C4CC;
}

.menu1:hover .subnav-content {
    display: grid;
}

/*main*/

main{
    text-align: left;
}

main section{
    border: 1px solid #0B3D40;
}






#Sales {grid-area: menu;}
#warning {grid-area: header;}
#Most_popular {grid-area: popular;}
#New_games {grid-area: new;}
.banner {grid-area: banner}
.table {grid-area: table}
.info_explorator {grid-area: date_cont}
.info_service {grid-area: info}
.friends {grid-area: friend}


main{
    display: grid;
    grid-template-areas:
    'menu menu menu menu'
    'table table popular popular'
    'table table new new'
    'friend date_cont date_cont info'
    'header header header header';
    padding: 10px;
    grid-gap: 10px;
    overflow: hidden;
}











h2 {grid-area: header;}
#item1 {grid-area: menu;}
#item2 {grid-area: right;}
#item3 {grid-area: footer;}
#item5 {grid-area: iframe;}

#item5{
    border: hidden;
    text-align: right;
}

#item5 iframe{
    border: solid #0B3D40;
    border-bottom-right-radius: 5px;
}

#item5 a{
    border: 7px solid #0B3D40;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    background-color: #0B3D40;
    color: #23C4CC;

}

#item5 a:hover{
    background-color: #167A80;
    color: #23C4CC;
}

#Sales{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu right footer iframe iframe'
    'menu right footer iframe iframe';
    padding: 10px;
    grid-gap: 10px;
    overflow: hidden;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.table th,.table td{
    padding: 8px;
}

.table tr{
    background: #167A80;
}

.table tr:nth-child(even){background-color: #1C9FA6;}

.table .data:hover {background-color: #23C4CC;}

.table table{
    width: 100%;
}

.table tr:first-child th:last-child{
    border-top-right-radius: 10px;
}

.table tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

.table tr:first-child th:first-child{
    border-top-left-radius: 10px;
}

/*footer*/

footer{
    margin: 10px;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #167A80;
}

.figura p{
    background: white;
    visibility: hidden;
    position: absolute;
    left: 30px;
    bottom: -15px;
    width: auto;
}

.figura{
    display: flex;
    height: 13px;
    opacity: 0.5;
    border: 2px solid #0B3D40;
    border-bottom: solid transparent;
    border-top: solid transparent;
    border-radius: 40px;
    width: 20px;
    position: fixed;
    bottom: 0px;
    background: white;

}

.figura:hover{
    opacity: 1;
}

.figura:hover p{
    visibility: visible;
}

.figura .triangle:hover{
    border-bottom-color: black;
}

#paranteza_deschisa{
    color: #167A80;
}

#paranteza_inchisa{
    color: #167A80;
}

address a{
    text-decoration: none;
    color: #0B3D40;
}



/*
hr{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #0B3D40;
    border-right: 10px solid #0B3D40;
    background-clip: inherit;
}*/

.line-container {
    display: flex;
    width: 100%;
    margin: 5px auto;
    align-items: center;
}

.line {
    flex-grow: 1;
    height: 0;
    background: #0B3D40;
    position: relative;
}

.line.arrow-right:after {
    position: absolute;
    content: '';
    bottom: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #0B3D40;
}

.line.arrow-left:after {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #0B3D40;
}

hr{
    width: 100%;
    border-top: 5px;
    border-top-color: #0B3D40;
    border-bottom-color: #0B3D40;
}
