/*body*/

:root{
    --c1:#167A80;
    --c2:#0B3D40;
    --c3:#21B7BF;
    --c4:#23C4CC;
    --c5:#1C9FA6;
    --c6:black;
    --c7:white;
}

body{
    background-color: var(--c3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    color: var(--c2);
}


h1, #warning{
    text-align: center;
}

#warning a{
    text-decoration: none;
    color: var(--c1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.8rem;
}

.banner{
    display: none;
}

/*menu*/

#open_menu{

}

#first_menu{

}


#first_option{grid-area: home}
#second_option{grid-area: info}
#third_option{grid-area: library}


#navigation {
    overflow: hidden;
    width: 100%;
    background: var(--c2);
    height: auto;
}

#first_menu a {
    float: left;
    display: block;
    font-size: 12px;
    text-decoration: none;
    flex-shrink: 1;
}

#la_prima_del_listo{
    display: flex;
    flex-direction: column-reverse;
}

.menu1 {
    float: left;
    overflow: hidden;
    padding: 14px 16px;
    background-color: var(--c2);
    height: 60px;
}

.menu1 .subnavbtn {
    border: none;
    outline: none;
    color: var(--c4);
    background-color: inherit;
    font-family: inherit;
}

.subnavbtn{
    transition: border 300ms, box-shadow 300ms;
}

.menu1:hover .subnavbtn {
    border-left:groove var(--c4);
    border-right:groove var(--c4);
    border-top:groove var(--c4);
    border-bottom: groove var(--c4);
    box-shadow: 3px 3px 3px var(--c6);
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: var(--c2);
    width: auto;
}


#first_menu_arrow{
    display: none;
}

#second_menu_arrow{
    display: none;
}

#third_menu_arrow{
    display: none;
}


.subnav-content a:hover {
    border: 1px solid var(--c4);
}

.menu1:hover .subnav-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#brrrrr{
    display: none;
}

/*end of menu*/


/*style of main*/

/*main*/

main{
    text-align: left;
}

main section{
    border: hidden;
}






#Sales {grid-area: menu;}
#warning {grid-area: header;}
#Most_popular {grid-area: popular;}
#New_games {grid-area: new;}
.banner {grid-area: banner}
.table {grid-area: table}
.info_explorator {grid-area: date_cont}
.info_service {grid-area: info}
.friends {grid-area: friend}


main{
    display: grid;
    grid-template-areas:
    'menu'
    'table '
    'popular'
    'new'
    'friend'
    'date_cont'
    'info'
    'header';
    padding: 10px;
    grid-gap: 10px;
    overflow: hidden;
}


/*end of style of main*/


/*style of sales*/

h2 {grid-area: header;}
#item1 {grid-area: menu;}
#item2 {grid-area: right;}
#item3 {grid-area: footer;}
#item5 {grid-area: iframe;}

#item5{
    border: hidden;
    text-align: right;
}

#section5{
    display: flex;
    flex-direction: row;
    float: right;
    flex-shrink: 1;
    flex-grow: 1;
}

#item5 iframe{
    border: solid var(--c2);
    border-bottom-right-radius: 5px;
    width: auto;
    height: auto;
}

#item5 a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    transition: background-color 1s;
    transition-timing-function: ease;
    border-top: 5px solid var(--c2);
    border-bottom:5px solid transparent;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    background-clip: padding-box;
    background-color: var(--c2);
}

#item5 a:hover{
    background-color: var(--c1);
}

#Sales{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu right footer iframe iframe'
    'menu right footer iframe iframe';
    padding: 10px;
    grid-gap: 10px;
    overflow: hidden;
}


/*end of style of sales*/


/*style of table*/

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 12rem;
}
.table th,.table td{
    padding: 8px;
}

.table tr{
    background: var(--c1);
}

.table tr:nth-child(even){background-color: var(--c5);}

.table .data:hover {background-color: var(--c4);}

.table table{
    width: 100%;
}

.table tr:first-child th:last-child{
    border-top-right-radius: 10px;
}

.table tr:first-child th:first-child{
    border-top-left-radius: 10px;
}


#footer_table td:last-child{
    border: 1px solid transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
}

#footer_table td:first-child{
    border: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

/*end of style for table*/


/*footer*/

footer{
    margin: 10px;
}

/*style for link to top*/

.triangle{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--c1);
    position: absolute;
    bottom: 2px;
    transition: border-bottom-color 300ms, bottom 300ms;
}


.figura p{
    background: var(--c7);
    visibility: hidden;
    position: absolute;
    left: 30px;
    bottom: -15px;
    width: auto;
    background-clip: content-box;
    border:1px solid var(--c6);
    border-radius:10px;
}

.figura{
    display: flex;
    height: 13px;
    opacity: 0.5;
    border: 2px solid var(--c2);
    border-bottom: solid transparent;
    border-top: solid transparent;
    border-radius: 40px;
    width: 20px;
    position: fixed;
    bottom: 0;
    background: var(--c7);

}

.figura:hover{
    opacity: 1;
}

.figura:hover p{
    visibility: visible;
}

.figura .triangle:hover{
    border-bottom-color: var(--c6);
    bottom:4px;
}

/*end of style for link to top*/

address a{
    text-decoration: none;
    color: var(--c2);
}



/*style for hr*/

.line-container {
    display: flex;
    width: 100%;
    margin: 5px auto;
    align-items: center;
}

.line {
    flex-grow: 1;
    height: 0;
    background: var(--c2);
    position: relative;
}

.line.arrow-right:after {
    position: absolute;
    content: '';
    bottom: -6px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 30px solid var(--c2);
}

.line.arrow-left:after {
    position: absolute;
    content: '';
    top: -6px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 30px solid var(--c2);
}

hr{
    width: 100%;
    border-top: 5px;
    border-top-color: var(--c2);
    border-bottom-color: var(--c2);
}

/*end of style for hr*/
